fastapi==0.110.0
uvicorn==0.29.0

python-multipart==0.0.9

Pillow==11.0.0

torch==2.6.0
torchvision==0.21.0
efficientnet-pytorch==0.7.1

numpy>=2.0

sqlalchemy

python-jose[cryptography]
passlib[bcrypt]

pydanticpip freeze > requirements.txt